<!DOCTYPE html>
<html lang="en">
<%- include('./block/header.ejs') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include('./block/nav.ejs') %>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%- include('./block/topnav.ejs') %>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <div style="text-align: center; color:rgb(0, 157, 255); font-size: 50px;">
                                    <div>Xin chào, <%= adminname %> đã đến trang admin</div>
                                    <div>
                                        <img src="./images/products/anhbia.png" alt="">
                                    </div>
                                </div>


                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Danh sách đánh giá</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <% if(typeof productAllRate !=="undefined" ){ %>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Hình ảnh</th>
                                                                <th scope="col">Tên sản phẩm</th>
                                                                <th scope="col">Số sao</th>
                                                                <th scope="col">Đánh giá</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% productAllRate.forEach(product=> { %>

                                                                <tr>

                                                                    <td><a href="/detail/<%= product.product.id %>"><img
                                                                                src="<%= product.product.image %>"
                                                                                alt="" style="width: 5rem;"></a></td>
                                                                    <td>
                                                                        <%= product.product.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= product.star %>
                                                                    </td>
                                                                    <td>
                                                                        <%= product.comment %>
                                                                    </td>
                                                                </tr>


                                                                <% } ) %>
                                                        </tbody>
                                                    </table>
                                                    <% }else{ %>
                                                        <p>Không có đánh giá nào</p>
                                                        <% } %>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Content Row -->

                               
                                

                            </div>
                            <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your Website 2021</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <ul>

        </ul>
        <%- include('./block/footer.ejs') %>
           
    </body>

</html>